<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
	<connectionStrings/>
	<system.web>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
			</protocols>
		</webServices>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/></assemblies></compilation>
		<!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<appSettings>
    <add key="db_host" value="localhost"/>
    <add key="svc_name" value="XE"/>
    <add key="db_user" value="tanch"/>
    <add key="db_pass" value="turtle"/>
    
    <add key="platform"  value="(select PID from PLATFORM where BRANCH='{0}' AND PERSONA='{1}' AND RESOLUTION={2})"/>
    <add key="query"
         value="SELECT ROW_NUMBER() OVER (ORDER BY a.UPDATE_DATE DESC) AS ROWNO, a.TLOC, cs.CHECKSUMS FROM TESTCASE a join TESTCASE_CHECKSUMS cs on a.tguid = cs.tguid  
         WHERE cs.pid = {2} AND a.HIDDEN  &lt;&gt; 'Y' AND a.TLOC LIKE '%{1}%' AND a.TGUID IN (SELECT UNIQUE t.TGUID FROM TESTCASE_FUNC t, FUNC f 
         WHERE t.fid = f.fid AND t.pid = {2} AND UPPER(f.FUNC_NAME) IN ( {3} '__end__' ) GROUP BY t.tguid)"/>
    
	</appSettings>
</configuration>
