<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
      </assemblies>
    </compilation>
    <urlMappings enabled="true">
      <add url="~/index.aspx" mappedUrl="~/Default.aspx" />
    </urlMappings>
  </system.web>
  <appSettings>
    <add key="db_host" value="192.168.77.1"/>
    <add key="svc_name" value="XE"/>
    <add key="db_user" value="tcprofiler"/>
    <add key="db_pass" value="tc_profiler"/>
  </appSettings>
</configuration>
